# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Outputs
outputs/videos/*
outputs/images/*
outputs/logs/*
outputs/eval_results/*
!outputs/**/.gitkeep

claude/